# Default ignored files
/shelf/
/workspace.xml

/backend/build/
/backend/.env
/backend/.env.local
/backend/node_modules/
/backend/uploads/images/*
/backend/uploads/productpictures/*


/swapzone/.env
/swapzone/node_modules/
/swapzone/build/
/swapzone/dist/
/swapzone/.dart_tool
/swapzone/.idea
/swapzone/.vscode
/swapzone/.packages
/swapzone/.flutter-plugins
/swapzone/.flutter-plugins-dependencies
/swapzone/.pub-cache
/swapzone/ios/Pods/
/swapzone/android/.gradle/
/swapzone/android/app/build/
/swapzone/android/build/
/swapzone/android/captures/
/swapzone/android/.idea/
/swapzone/android/local.properties
/swapzone/android/.flutter-plugins
/swapzone/web/.dart_tool/
/swapzone/android/
/swapzone/ios/
/swapzone/macos/
/swapzone/windows/
/swapzone/linux/
/swapzone/build/
